#weatherInfoContainer {
	margin-top: 100px;
	margin-inline: auto;
	width: min(61.8vw, 500px);
	max-width: 90vw;
	position: relative;

	display: flex;
	flex-direction: column;
	gap: 12px;
}

#currentWeather {
	max-width: 90vw;
	width: 100%;
	background: linear-gradient(135deg, #4facfe, #00f2fe);
	border-radius: 12px;
	padding: 20px;
	color: var(--main-color);

	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.top-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

#cityName {
	font-size: 1.5rem;
	font-weight: bold;
}

#temperatureUnit {
	padding: 5px;
	border-radius: 7px;
	font-size: 1rem;
	background-color: var(--main-bg-color);
	border: none;
	outline: none;
}

#temperature {
	font-size: 1.8rem;
	font-weight: bold;
	margin: 10px 0;
}

.bottom-section {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 15px;
}

.weather-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}

.weather-item img {
	width: 40px;
	height: 40px;
	margin-bottom: 5px;
}

p {
	font-size: 1.2rem;
	margin: 5px 0;
}

@media (max-width: 768px) {
	#currentWeather {
		max-width: 90%;
		padding: 15px;
	}

	#cityName {
		font-size: 1.3rem;
	}

	#temperature {
		font-size: 1.5rem;
	}

	p {
		font-size: 1rem;
	}

	.weather-item img {
		width: 35px;
		height: 35px;
	}
}

@media (max-width: 480px) {
	#currentWeather {
		padding: 10px;
	}

	#cityName {
		font-size: 1.2rem;
	}

	#temperature {
		font-size: 1.3rem;
	}

	p {
		font-size: 0.9rem;
	}

	.weather-item img {
		width: 30px;
		height: 30px;
	}
}

/* weather Forecast */

#weatherForecast {
	width: min(61.8vw, 500px);
	max-width: 90vw;
	margin: 0 auto;
	padding: 20px;
	background-color: #2c2c2c;
	color: #f0f0f0;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

#weatherForecast .daily-card {
	display: flex;
	justify-content: space-between;
   gap: 8px;
	align-items: center;
	background-color: #3a3a3a;
	margin-bottom: 10px;
	padding-inline: 10px;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#weatherForecast .daily-card .date {
	font-weight: bold;
	font-size: 1.1rem;
}

#weatherForecast .daily-card .daily-weather {
	text-align: left;
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#weatherForecast .daily-temp {
	font-size: 1rem;
}
